@primary-color: #f8ead8;
@card-bg-color: #fff8ea;

.outer-div {
  background-color: @primary-color;
  // min-height: 100vh;
  // height: 73.8vh;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}

// using grid
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}
.grid-item {
  text-align: center;
}

// div sample  style={{ display: "flex", flexDirection: "row" }}

// using flex
.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  margin: 26px;
  justify-content: space-evenly;
}
.flex-row-container > .flex-row-item {
  /*grow | shrink | basis*/
  //  flex: 1 1 30%;
  height: 200px;
  width: 300px;
}

.card-bg {
  background-color: @card-bg-color;
  border: 0px;
  // background-color: #eddbc7;
  // border: 1px solid @card-bg-color;
}
